@charset "uft-8";



#wrap{
    position: relative;
    min-width: 1000px;
    min-height: 600px;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #80c3f0;
}
#wrap>.container{
    position: absolute;
    top: 31px;
    left: 22px;
    width: 778px;
    height: 525px;
    background-color: #e9f1ff;
    border-radius: 10px;
}
#wrap>.container>.outline{
    position: absolute;
    top: 18px;
    left: 18px;
    width: 742px;
    height: 489px;
    border: 1px dashed #90bbff;
    border-radius: 5px;
}
#wrap>.container>.outline>header{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 207px;
    height: 475px;
    background-color: #c7ddff;
    border-radius: 10px;
}

#wrap>.container>.outline>header>.visit{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    top: 24px;
    left: 38px;
    width: 130px;
}
#wrap>.container>.outline>header>.visit>.today>span{
    color: #e55469;
}
#wrap>.container>.outline>header>.visit>h2{
    font-size: 7px;
    color: #888;
}
#wrap>.container>.outline>header>.visit>.today::after{
    position: absolute;
    left: 43px;
    top: 2px;
    display: block;
    width: 5px;
    height: 10px;
    border-right: 2px solid #777;
    content: " ";

}

#wrap>.container>.outline>header>.snb>#main{
    display: block;
    position: absolute;
    top: 40px;
    left: 8px;
    width: 195px;
    height: 428px;
    background-color: #fff;
    border-radius: 10px;
}
/* 라이트박스 처리예정 */
#wrap>.container>.outline>header>.snb>#main>.frame{
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 22px;
    width: 150px;
    height: 164px;
    background-color: #999;
    border-radius: 5px;

}

#wrap>.container>.outline>header>.snb>#main>.frame>img{
    position: absolute;
    left: -65px;
    width: 300px;
}
#wrap>.container>.outline>header>.snb>#main>.aboutme{
    position: absolute;
    top: 220px;
    left: 22px;
    width: 150px;
    font-size: 8px;
    line-height: 18px;
    padding-bottom: 5px;
    border-bottom: 3px solid #888;
}
#wrap>.container>.outline>header>.snb>#main>.aboutme>li{
    margin-top: 5px;
    text-align:right;
}

#wrap>.container>.outline>header>.snb>#main>.aboutme>li:nth-child(6)>span{
    font-size: 15px;
    font-weight: 600;
    color: yellowgreen;
}
#wrap>.container>.outline>header>.snb>#main>.aboutme>li>.name{
    font-size: 15px;
    font-weight: 800;
    text-decoration: underline;
}
#wrap>.container>.outline>header>.snb>#main>.aboutme>li>strong{
    font-style: italic;
    text-decoration: underline;
    font-weight: 800;
    color: red;
}
/* 연락처보기 */
#wrap>.container>.outline>header>.snb>#main>.select{
    position: absolute;
    bottom: 30px;
    left: 22px;
    width: 150px;
    height: 20px;
}

#wrap>.container>.outline>header>.snb>#main>.select>.show{
    display: block;
    width: 150px;
    height: 20px;
    line-height: 18px;
    font-size: 11px;
    padding-left: 15px;
    background-color: #f3f3fa;
    border: 1px solid #dedede;
    box-sizing: border-box;
}
#wrap>.container>.outline>header>.snb>#main>.select>ul{
    display: none;
    overflow: hidden;
    width: 150px;
    height: 45px;
    overflow-y: scroll;
    background-color: #f3f3fa;
    border: 1px solid #dedede;
    box-sizing: border-box;
}
#wrap>.container>.outline>header>.snb>#main>.select>ul>li{
    margin-top: 3px;
    margin-bottom: 3px;
}
#wrap>.container>.outline>header>.snb>#main>.select>ul>li>a{
    display: block;
    width: 150px;
    height: 15px;
    position: relative;
    font-size: 10px;
    padding-left: 30px;
}
#wrap>.container>.outline>header>.snb>#main>.select>ul>li>a::before{
    display: block;
    position: absolute;
    left: 13px;
    top: 0;
    width: 15px;
    height: 15px;
    /* background-color: pink; */
    content: " ";
    background-repeat: no-repeat;
    background-size: contain;
}
#wrap>.container>.outline>header>.snb>#main>.select>ul>li:nth-child(1)>a::before{
    background-image: url(../images/main/instagram.png);
}
#wrap>.container>.outline>header>.snb>#main>.select>ul>li:nth-child(2)>a::before{
    background-image: url(../images/main/call.png);
}
#wrap>.container>.outline>header>.snb>#main>.select>ul>li:nth-child(3)>a::before{
    background-image: url(../images/main/e-mail.png);
    background-size: 130%;
    background-position: -3px -1px;
}




/* 네비 영역 */


#wrap>.container>.outline>nav>.gnb{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: absolute;
    top: 58px;
    right: -28px;
    width: 50px;
    height: 154px;
}
#wrap>.container>.outline>nav>.gnb>li{
    overflow: hidden;
    width: 50px;
    height: 27px;
    border-radius: 5px;
    background-color: #3b87ff;

}
#wrap>.container>.outline>nav>.gnb>li>a{
    display: block;
    width: 45px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    z-index: 500;
    padding-left: 5px;
    font-size: 10px;
    color: #fff;
    font-weight: 300;
}
#wrap>.container>.outline>nav>.gnb>li.on>a{
    color: #222;
    background-color: #fff;
    font-weight: bold;
}

/* 섹션 */
#wrap>.container>.outline>#cont{
    position: absolute;
    left: 212px;
    top: 6px;
    width: 525px;
    height: 475px;
    background-color: #c7ddff;
    border-radius: 10px;
}
#wrap>.container>.outline>#cont>section{
    position: absolute;
    top: 40px;
    left: 6px;
    width: 510px;
    height: 428px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1000;
}

#wrap>.container>.outline>#cont>.logo{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 145px;
    /* background-image: url(../images/main/header_logo_03.png); */
    z-index: 300;
    background-repeat: no-repeat;
}
#wrap>.container>.outline>#cont>.logo>a{
    display: block;
    height: 37px;
    /* text-indent: -9999px; */
    font-size: 12px;
    z-index: 100;
}
#wrap>.container>.outline>#cont>.logo>a>span{
    margin-left: 2px;
}

#wrap>.container>.outline>#cont>.logo>a>small{
    display: block;
    width: 200px;
    color: #c33;
    font-size: 7px;
}
/* 메인화면 */
/* 메인 상단 */
section#main{
    display: block;
    height: 400px;
    margin: 0 auto;
}
section#main>.main_top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 465px;
    height: 120px;
    margin: 15px auto;
}
section#main>.main_top>h3{
    width: 100%;
    margin-left: 10px;
    font-size: 13px;
    color:#0f9fcf;
}
section#main>.main_top>.news{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 230px;
    height: 90px;
    font-size: 10px;
    border-top: 1px dotted #dedede;
}
section#main>.main_top>.news>li{
    overflow:hidden;
    position: relative;
    width: 230px;
    height: 18px;
    margin-left: 10px;
    
}
section#main>.main_top>.news>li>a{
    display: block;
    position: absolute;
    left: 40px;
    top: 0;
    width: 225px;
    height: 18px;
    line-height: 18px;
}
section#main>.main_top>.news>li>a>span{
    display: block;
    width: 35px;
    height: 18px;
    position: absolute;
    left: -40px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
}
section#main>.main_top>.news>li>a>span.board{
    background-color: #6a86b5;
}
section#main>.main_top>.news>li>a>span.gallery{
    background-color: #57c89a;
}

section#main>.main_top>.news>li:hover>a{
    text-decoration: underline;
}
section#main>.main_top>.shot_cut{
    display: flex;
    flex-flow: row wrap;
    width: 225px;
    font-size: 10px;
    height: 90px;
    border-top: 1px dotted #dedede;
}
section#main>.main_top>.shot_cut>li{
    width: 100px;
    height: 29px;
    line-height: 29px;
    margin-left: 10px;
    border-bottom: 1px dotted #dedede;
}
section#main>.main_top>.shot_cut>li>a{
    display: block;
    position: relative;
    height: 29px;
    width: 100px;
    font-size: 9px;
}
section#main>.main_top>.shot_cut>li>a>span{
    position: absolute;
    right: 5px;
    top: 0;
}
section#main>.main_top>.shot_cut>li:nth-child(4)>a{display: none;}
section#main>.main_top>.shot_cut>li:nth-child(5)>a{display: none;}
section#main>.main_top>.shot_cut>li:nth-child(6)>a{display: none;}
section#main>.main_top>.shot_cut>li:hover>a,
section#main>.main_top>.shot_cut>li:hover>a>span{
    text-decoration: underline;
}
/* 메인 중간 */
#main>.thumb{
    display: flex;
    flex-direction: column;
    width: 465px;
    margin: 0 auto;
}
#main>.thumb>h3{
    width: 455px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    color:#0f9fcf;
    border-bottom: 1px dashed #dedede;
}
#main>.thumb>.container{
    overflow: hidden;
    position: relative;
    width: 465px;
    height: 160px;
    /* background-color: pink; */
}
#main>.thumb>.container>.list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: absolute;
    top: 10px;
    width: 495px;
    height: 160px;
}
#main>.thumb>.container>.list>li{
    width: 120px;
}
#main>.thumb>.container>.list>li>a{
    display: block;
    width: 120px;
    height: 140px;
    background-color: #dedede;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #dedede;
    border-radius: 5px;
    box-sizing: border-box;
    text-indent: -9999px;
}
#main>.thumb>.container>.list>li:nth-child(1)>a{
    background-image: url(../images/main/mini_1.png);
    background-position: -10px 0;
}
#main>.thumb>.container>.list>li:nth-child(2)>a{
    background-image: url(../images/main/sampyo.png);
}
#main>.thumb>.container>.list>li:nth-child(3)>a{
    background-image: url(../images/main/line.png);
}
#main>.thumb>.container>.list>li:nth-child(4)>a{
    background-image: url(../images/minigame/main.png);
}


#main>.thumb>.container>a{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 30px;
    height: 50px;
    z-index: 200;
    text-indent: -9999px;
    background-image: url(../images/main/mysite_mainbanr_btn_arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#main>.thumb>.container>.left.on{
    background-position: 4px -150px;
    opacity: 1;
}
#main>.thumb>.container>.left{
    left: 0;
    background-position: 4px -100px;
    opacity: 0.7;
}
#main>.thumb>.container>.right{
    right: 0;
    background-position: 4px 0;
    opacity: 0.7;
}
#main>.thumb>.container>.right.on{
    background-position: 4px -50px;
    opacity: 1;
}
/* 메인 하단 */
#main>.coment{
    width: 465px;
    margin: 0 auto;
    border-top: 1px dashed #dedede;
}
#main>.coment>.summit{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
}
#main>.coment>.summit>h3{
    padding-left: 10px;
    font-size: 13px;
    font-weight: 700;
    color:#0f9fcf;
    line-height: 30px;
}
#main>.coment>.summit>input{
    width: 360px;
    height: 20px;
    margin-top:4px;
    border: none;
    font-size: 9px;
    line-height: 18px;
    border-radius: 5px;
    background-color: #f0f0f0;
}
#main>.coment>.summit>button{
    display: block;
    width: 40px;
    height: 22px;
    margin-top: 4px;
    line-height: 22px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 3px;
}
#main>.coment>.view{
    width: 445px;
    margin: 5px auto;
}
#main>.coment>.view>li{
    width: 385px;
    position: relative;
    left: 50px;
    font-size: 10px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #dedede;

}
#main>.coment>.view>li>span.name{
    position: absolute;
    left: -50px;
    top: 0;
    font-weight: bold;
}




/* 사이드 */
#wrap>aside{
    position: absolute;
    top: 32px;
    right: 20px;
    width: 165px;
    height: 180px;
    border-radius: 5px;
}
#wrap>aside>.info{
    width: 165px;
    height: 140px;
    background-color: #fff;
    border-radius: 5px;
}
#wrap>aside>.info>.stat{
    position: relative;
    width: 155px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 2px dashed #000;
}
#wrap>aside>.info>.stat>ul{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 3px;
    width: 146px;
    height: 10px;
}
#wrap>aside>.info>.stat>.active{
    top: 10px;
}
#wrap>aside>.info>.stat>.famous{
    top: 26px;
}
#wrap>aside>.info>.stat>.friendly{
    top: 42px;
}
#wrap>aside>.info>.stat>ul>li{
    font-size: 10px;
}
#wrap>aside>.info>.stat>ul>.bar{
    left: 54px;
    width: 100px;
    border-bottom: 5px solid #dedede;
    margin-bottom: 2px;
}
#wrap>aside>.info>.stat>ul>.bar::after{
    display: block;
    left: 54px;
    border-bottom: 5px solid #999;
    margin-bottom: 2px;
    content: " ";
}

#wrap>aside>.info>.stat>.active>.bar::after{
    width: 85px;
    margin-top: 3px;
    border-bottom: 5px solid #ff6d24;

}
#wrap>aside>.info>.stat>.famous>.bar::after{
    width: 65px;
    margin-top: 3px;
    border-bottom: 5px solid #1ac133;
}
#wrap>aside>.info>.stat>.friendly>.bar::after{
    width: 75px;
    margin-top: 3px;
    border-bottom: 5px solid #1924f3;
}

#wrap>aside>.info>.bg_color{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    left: 10px;
    width: 145px;
    height: 60px;
    /* background-color: pink; */
}
#wrap>aside>.info>.bg_color>h3{
    width: 145px;
    height: 20px;
    font-weight: 300;
    font-size: 10px;
}
#wrap>aside>.info>.bg_color>li>a{
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border: 1px solid #999;
}

#wrap>aside>.info>.bg_color>li:nth-child(2)>a{
    background-color: #ffb7ce;
}
#wrap>aside>.info>.bg_color>li:nth-child(3)>a{
    background-color: #80c3f0;
}
#wrap>aside>.info>.bg_color>li:nth-child(4)>a{
    background-color: #fcff00;
}
#wrap>aside>.info>.bg_color>li:nth-child(5)>a{
    background-color: #00ff1e;
}



#wrap>aside>.audio>.player{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 148px;
    left: 0;
    width: 165px;
    height: 38px;
    border-radius: 5px;
    background-color: #dcdcdc;
}

#wrap>aside>.audio>.player>.tit{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 19px;
    line-height: 18px;
    font-size: 11px;
}
#wrap>aside>.audio>.player>.tit>span{
    display: block;
    position: absolute;
    left: 25px;
    top: 0;
    width: 135px;
    height: 13px;
    margin-right: 15px;
    font-size: 11px;
    color: #333;
}


#wrap>aside>.audio>.player::after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url(../images/main/title.png);
    background-repeat: no-repeat;
    background-position: 3px 2px;
    content: " ";
    background-color: #fff;
    z-index: 300;
}
#wrap>aside>.audio>.player>.btn{
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 19px;
    left: 9px;
    width: 145px;
    height: 19px;
}
#wrap>aside>.audio>.player>.btn>li{
    line-height: 19px;
    margin-left: 10px;
}
#wrap>aside>.audio>.player>.btn>li>a{
    display: block;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    background-image: url(../images/main/btn.png);
}

#wrap>aside>.audio>.player>.btn>li:nth-child(2)>a{
    background-position: -10px 0;
}
#wrap>aside>.audio>.player>.btn>li:nth-child(3)>a{
    background-position: 10px 0;
}
#wrap>aside>.audio>.player>.btn>li>progress{
    margin-left: 10px;
    width: 60px;
    height: 10px;
}
#wrap>aside>.audio>.player>.btn>li>.timer{
    width: 60px;
    font-size: 7px;
}


/* 프로필 영역 */
/* 헤더 */
#wrap>.container>.outline>header>.snb>div{
    display: none;
    position: absolute;
    top: 40px;
    left: 8px;
    width: 195px;
    height: 428px;
    background-color: #fff;
    border-radius: 10px;
}
#wrap>.container>.outline>header>.snb>div>.category{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 165px;
    height: 400px;
    border-radius: 5px;
    border: 1px dashed #dedede;
    box-sizing: border-box;
}
#wrap>.container>.outline>header>.snb>div>.category>h4{
    width: 150px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    color:#0f9fcf;

}
#wrap>.container>.outline>header>.snb>div>.category>.tab{
    position: relative;
    left: 10px;
    width: 140px;
    margin: 0 auto;
    
}
#wrap>.container>.outline>header>.snb>div>.category>.tab::before{
    display: block;
    position: absolute;
    top: -5px;
    height: 28px;
    content: " ";
    border-left: 1px dashed #dedede;
}
#wrap>.container>.outline>header>.snb>div>.category>.tab>li{
    position: relative;
    text-indent: 15px;
    margin-top: 6px;
    font-size: 11px;
}
#wrap>.container>.outline>header>.snb>div>.category>.tab>li::before{
    position: absolute;
    left: 0;
    top: -3px;
    width: 8px;
    height: 8px;
    border-bottom: 1px dashed #dedede;
    content: " ";
}
#wrap>.container>.outline>header>.snb>div>.category>.tab>li.on>a,
#wrap>.container>.outline>header>.snb>div>.category>.tab>li:hover>a{
    font-weight: 600;
    color:#3b87ff;
    font-size: 12px;
    
}
#wrap>.container>.outline>header>.snb>div>.category>.tab>li>a{
    display: block;
    width: 100px;
    /* background-color: pink; */
}

#profile{
    display: none;
    height: 400px;
    margin: 0 auto;
}

#profile>.basic_info{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 465px;
    height: 400px;
    margin: 0 auto;
    /* background-color: #0f9fcf; */
    border: 1px dashed #dedede;
    border-radius: 10px;
    box-sizing: border-box;
}
#profile>.basic_info>.introduce{
    position: absolute;
    left: 10px;
    top: 25px;
    width: 445px;
    height: 350px;
    margin: 0 auto;
}
#profile>.basic_info>.introduce>h4{
    position: absolute;
    top: 0;
    left: 20px;
    color:#3b87ff;
}
#profile>.basic_info>.introduce>.info{
    display: flex;
    flex-flow: row wrap;
    height: 60px;
    width: 400px;
    margin: 25px auto;
    border: 1px dashed #dedede;
    border-radius: 3px;
}
#profile>.basic_info>.introduce>.info>li{
    position: relative;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-size: 10px;
    box-sizing: border-box;
}
#profile>.basic_info>.introduce>.info>li:nth-child(even){
    border-left: 1px dashed #dedede;
}

#profile>.basic_info>.introduce>.info>li:nth-child(-n+2){
    border-bottom: 1px dashed #dedede;
}
#profile>.basic_info>.introduce>.info>li>.input{
    position: absolute;
    left: 65px;
}
#profile>.basic_info>.introduce>.info>li>.input::before{
    position: absolute;
    left: -15px;
    content: " : ";
}
#profile>.basic_info>.introduce>.coment{
    width: 400px;
    margin: 0 auto;
}
#profile>.basic_info>.introduce>.coment>h4{
    color:#3b87ff;
}
#profile>.basic_info>.introduce>.coment>p{
    position: relative;
    width: 400px;
    height: 200px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
    background-color: #ddeede;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: -10px -20px;
}



#profile>.ask{
    display: none;
    overflow-y : scroll;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 485px;
    height: 400px;
    margin: 0 auto;

    border-radius: 10px;
    box-sizing: border-box;
}
#profile>.ask>h4{
    margin: 15px 0 0 20px;
    font-size: 12px;
    color:#3b87ff;
}
#profile>.ask>div{
    width: 445px;
    margin: 0 auto;
}
#profile>.ask>div>ul{
    margin: 25px 0 0 25px;
    width: 410px;
    height: 60px;
    border: 1px outset #dedede;
    box-sizing: border-box;
    background-color: #dedede;
}
#profile>.ask>div>ul>li{
    position: relative;
    left: 20px;
    width: 90%;
    height: 20px;
    line-height: 20px;
}

#profile>.ask>div>ul>li>span{
    position: absolute;
    left: -20px;
}

/* 사진첩 */

#wrap>.container>.outline>header>.snb>#gallery>.category>.tab>li{
    position: relative;
    padding-left: 15px;
    text-indent: 15px;
    margin-top: 6px;
    font-size: 11px;
}
#wrap>.container>.outline>header>.snb>#gallery>.category>.tab::before{
    height: 11px;
}
#wrap>.container>.outline>header>.snb>#gallery>.category>.tab>li::after{
    display: block;
    position: absolute;
    top: 2px; 
    left: 13px;
    width: 14px;
    height: 14px;
    background-image: url(../images/folder.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0 0;
    content: " ";
    
}
section#gallery{
    display: none;
}
#gallery>.photo_gallery{
    overflow-y: scroll;
    width: 485px;
    height: 428px;
    margin: 0 auto;
}
#gallery>.photo_gallery>div{
    width: 445px;
    margin: 15px auto;
}
#gallery>.photo_gallery>div::after{
    content: " ";
    display: block;
    width: 100%;
    height: 10px;
    border-bottom: 1px dashed #999;
}
#gallery>.photo_gallery>div>.cont_header{
    border-top: 1px solid #dedede;
    margin-bottom: 10px;
}
#gallery>.photo_gallery>div>.cont_header>h3{
    width: 100%;
    height: 23px;
    text-align: center;
    line-height: 23px;
    font-size: 15px;
    color: #555;
    background-color: #f3f1f2;
    letter-spacing: 1px;
}
#gallery>.photo_gallery>div>.cont_header>ul{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f9f7f8;
    
}
#gallery>.photo_gallery>div>.cont_header>.photo_basic_info>li{
    position: absolute;
    top: 5px;
    height: 10px;
    line-height: 10px;
    font-size: 6px;
    
}
#gallery>.photo_gallery>div>.cont_header>.photo_basic_info>li>strong{
    font-size: 12px;
    
}
#gallery>.photo_gallery>div>.cont_header>.photo_basic_info>li:nth-child(1){
    left: 10px;
}
#gallery>.photo_gallery>div>.cont_header>.photo_basic_info>li:nth-child(1)>strong{
    color: #3b87ff;
}
#gallery>.photo_gallery>div>.cont_header>.photo_basic_info>li:nth-child(2){
    left: 50%;
}
#gallery>.photo_gallery>div>.cont_header>.photo_basic_info>li:nth-child(2)>strong{
    font-weight: normal;
}
#gallery>.photo_gallery>div>.cont_header>.photo_basic_info>li:nth-child(3){
    right: 10px;
}
#gallery>.photo_gallery>div>.cont_header>.photo_basic_info>li:nth-child(3)>strong{
    color: #c33;
}
#gallery>.photo_gallery>div>.frame{
    width: 420px;
    margin: 0 auto;
}
#gallery>.photo_gallery>div>.frame>img{
    width: 420px;
    height: 350px;
}
#gallery>.photo_gallery>div>.explanation{
    width: 420px;
    margin: 20px auto;
    line-height: 18px;
}
#gallery>.photo_gallery>div>.explanation>a{
    color: #1924f3;
}
#gallery>.photo_gallery>div>.cont_coment{
    position: relative;
    width: 445px;
    height: 45px;
    background-color: #f3f1f2;
}
#gallery>.photo_gallery>div>.cont_coment::after{
    display: block;
    position: absolute;
    left: 10px;
    top: 15px;
    width: 80px;
    height: 20px;
    content:  "Coment";
}
#gallery>.photo_gallery>div>.cont_coment>input{
    position: absolute;
    left: 65px;
    top: 12px;
    width: 310px;
    
}
#gallery>.photo_gallery>div>.cont_coment>button{
    position: absolute;
    right: 10px;
    top: 11px;
    width: 40px;
    height: 22px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 12px;
}
#gallery>.photo_gallery>div>.cont_reply{
    width: 95%;
    margin: 5px auto;
}
#gallery>.photo_gallery>div>.cont_reply>li{
    position: relative;
    margin-top: 5px;
    padding-left: 45px;
}
#gallery>.photo_gallery>div>.cont_reply>li>span{
    position: absolute;
    left: 0;
    color: #3b87ff;
}
/* 게시판 */

#wrap>.container>.outline>header>.snb>#board>.category>.tab:before{
    border-bottom: 1px dashed #dedede;
    content: " ";
    height: 10px;
}
#board{
    display: none;
}
#board>.on_board{
    margin-top: 60px;
}
#board>.on_board>ul{
    display: flex;
    position: relative;
    width: 435px;
    left: 30px;
    border-bottom: 1px solid #dedede;
}
#board>.on_board>ul>li{
    position: absolute;
    top: -25px;
    font-weight: bold;
    font-size: 11px;
}
#board>.on_board>ul>li:nth-child(1){
    left: 15px;
}
#board>.on_board>ul>li:nth-child(2){
    left: 160px;
}
#board>.on_board>ul>li:nth-child(3){
    left: 310px;
}
#board>.on_board>ul>li:nth-child(4){
    left: 390px;    
}

#board>.on_board>.b_body{
    /* overflow-y: scroll; */
    height: 360px;

}
#board>.on_board>.b_body>.post{
    width: 435px;
    height: 50px;
    margin: 0 auto;
    text-align: center;    
    line-height: 50px;
    border-bottom: 1px solid #dedede;
}
#board>.on_board>.b_body>.post>.post_tit{
    display: block;
    width: 415px;
    height: 28px;
    line-height: 28px;
    margin-left: 50px;
}
#board>.on_board>.b_body>.post>.post_tit:hover>ul>li.tit{
    text-decoration: underline;
}
#board>.on_board>.b_body>.post>.post_tit>ul{
    position: relative;
}
#board>.on_board>.b_body>.post>.post_tit>ul>li{
    position: absolute;
}
#board>.on_board>.b_body>.post>.post_tit>ul>li.numb{
    left: -30px;
}
#board>.on_board>.b_body>.post>.post_tit>ul>li.tit{
    left: 0;
}
#board>.on_board>.b_body>.post>.post_tit>ul>li.poster{
    left: 255px;
    color: #3b87ff;
}
#board>.on_board>.b_body>.post>.post_tit>ul>li.date{
    left: 310px;
}
#board>.on_board>.b_body>.post>.board_cont{
    display: none;
    position: relative;
    width: 435px;
    margin: 0 auto;
    height: 150px;
}
#board>.on_board>.b_body>.post>.board_cont>p{
    position: relative;
    width: 100%;
    height: 85px;
    text-indent: 50px;
    border-top: 1px solid #dedede;
    padding-top: 5px;
    background-color: #f1f1f1;
}
#board>.on_board>.b_body>.post>.board_cont>p>a{
    position: absolute;
    left: 0;
    top: 30px;
    color: #3b87ff;
}
#board>.on_board>.b_body>.post>.board_cont>.reply{
    position: absolute;
    bottom: 10px;
    left:0;   
    padding-left: 10px;
    width: 95%;
    height: 45px;
    border-top: 1px dashed #cfcfcf;
}
#board>.on_board>.b_body>.post>.board_cont>.reply>textarea{
    position: absolute;
    top: 10px;
    border: 1px solid #cfcfcf;
}
#board>.on_board>.b_body>.post>.board_cont>.reply>button{
    position: absolute;
    right: 5px;
    top: 12px;
    width: 40px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    font-size: 10px;
}
/* 방명록 */
#visitor{
    display: none;
}
#visitor>.visitor_area{
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#visitor>.visitor_area>.visitor_input>form>fieldset{
    position: relative;
    width: 445px;
    height: 190px;
    margin: 0 auto;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    background-color: #f9f9f9;
}
#visitor>.visitor_area>.visitor_input>form>fieldset>img{
    position: absolute;
    left: 10px;
    top: 20px;
    width: 120px;
    height: 120px;
    background-color: #fff;
}
#visitor>.visitor_area>.visitor_input>form>fieldset>textarea{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #cfcfcf;
}
#visitor>.visitor_area>.visitor_input>form>fieldset>button{
    position: absolute; 
    right: 6px;
    bottom: 8px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
}
#visitor>.visitor_area>.visitor_input>form>fieldset>a{
    display: block;
    position: absolute;
    left: 45px;
    bottom: 10px;
    width: 40px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}
#visitor>.visitor_area>.visitor_input>form>fieldset>a::after{
    display: block;
    position: absolute;
    right: -10px;
    top: 4px;
    content: " ";
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 7px solid red;
}
#visitor>.visitor_area>.visitor_input>form>fieldset>a:hover,
#visitor>.visitor_area>.visitor_input>form>fieldset>a.on{
    text-decoration: underline;
}
#visitor>.visitor_area>.visitor_input>form>fieldset>p{
    display: none;
    position: absolute;
    bottom: -10px;  
    left: 10px;
    width: 150px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 8px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
}
#visitor>.visitor_area>.visitor_coment{
    position: relative;
    width: 445px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
}
#visitor>.visitor_area>.visitor_coment>.name{
    position: relative;
    width: 100%;
    border-top: 1px solid #cfcfcf;
    background-color: #f9f9f9;
    height: 20px;   
}
#visitor>.visitor_area>.visitor_coment>.name>li{
    position: absolute;
    line-height: 20px;
}
#visitor>.visitor_area>.visitor_coment>.name>.numb{
    left: 10px;
}
#visitor>.visitor_area>.visitor_coment>.name>.time{
    left: 100px;
    
    font-size: 8px;
}
#visitor>.visitor_area>.visitor_coment>.name>.visit_name{
    left: 50px;
}
#visitor>.visitor_area>.visitor_coment>.name>.report{
    right: 20px;
}
#visitor>.visitor_area>.visitor_coment>.visitor_thumb{
    position: absolute;
    left: 10px;
    top: 50px;
    width: 120px;
    height: 120px;
    background-color: #fff;
}
#visitor>.visitor_area>.visitor_coment>.visitor_thumb>p>img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

#visitor>.visitor_area>.visitor_coment>.coment{
    position: absolute;
    width: 280px;
    height: 80px;
    top: 45%;
    margin-top: -40px;
    right: 15px;
}
#visitor>.visitor_area>.visitor_coment>.reply{
    width: 435px;
    position: absolute;
    bottom: 10px;
    left: 0;    
    height: 55px;
    padding-left: 10px;
    background-color: #f1f1f1;
}
#visitor>.visitor_area>.visitor_coment>.reply>textarea{
    position: absolute;
    top: 10px;
    border: 1px solid #cfcfcf;
}
#visitor>.visitor_area>.visitor_coment>.reply>button{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 45px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
}
